body {	
	box-sizing: border-box;	  
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	padding: 0;
	text-rendering: optimizeLegibility;
}

/* HEADER */

.main_image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/catdoglove.jpg");
	background-size: 90%;
	background-repeat: no-repeat;	
	background-attachment: fixed;
	height: 80vh;
	margin: 0 10rem;	
	-moz-background-size: cover;
	-o-background-size: cover;	
	-webkit-background-size: cover;
}

 ul {
	list-style: none;	
	margin-bottom: -40px;
	margin-top: 60px;
	text-align: center;	
}

 li {
 	color: #009c0;
	display: inline-block;
	font-size: 105%;
	font-weight: 400;
	letter-spacing: 0.188em;
	padding-right: 8.5em;
}

ul:first-child {
	margin-left: 4em;
}

nav li:hover {
	opacity: 0.5;
	transition: all .2s ease;
}

h1 {
	color: white;	
	display: inline-block;
	font-size: 5em;
	font-weight: 300;
	letter-spacing: 7px;
	line-height: 300%;
	margin-top: 0;   
}

header i {
	color: white;
	margin-right: 50px;
}

.heading {
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	color: #58504a;
	font-family: 'Merriweather', sans-serif;
	font-weight: 100;
	font-size: 2em;
	line-height: 200%;	
	padding: 1rem;
	text-align: center;
}

.app_features {
	background-color: #ebe9e7;
	width: 80%;
	color: #5c755e;
}

.app_features img {	
	height: 15em;
	width: 80%;
	transform: scale(1);
	transition: transform 0.5s, opacity 0.5s;	
}

.app_features img:hover {
	opacity: 1;
	transform: scale(1.05);
}

.app_features h2 {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.fade i {
	color: #9db2a5;	
	margin-left: 25px;
	margin-top: 20px;
}

/*span {
	border: 4px double white;

	padding: 1.75rem;
}
*/



h2 {

	color: #58504a;
	display: block;	
	font-size: 100%;
	text-align: center;	
}

/*h2 span {
	font-size: 130%;
	margin-right: 10px;
}*/

.testimonials {
	background-color: white;	
	height: 100%;
	margin: 50px auto 150px auto;
	width: 100%;
}

.test_paragraph {
	background-color: #5c755e;
	border-radius: 5px;	
	box-shadow: 10px 10px 5px #888888;
	color: white;
	font-size: 16px;	
	text-align: center;	
	margin-right: 15px;	
	height: 28rem;
}

.test_paragraph i {
	color: white;
}

.testimonials img {
	border-radius: 5px; 
	display: block;
	height: 150px;	
	margin: 20px auto 40px auto;
	transition: all 0.5s;		 
}

.testimonials img:hover {
    opacity: 1;
	transform: scale(1.25);
}

i {
	color: white;
	border: 1px solid ##5c755e;
}

footer {
	background-color: #58504A;
	color: white;
	font-size: 80%;
	height: 13em;
	margin-right: -15px;
	margin-left: -15px;
}

@media screen and (max-width: 786px) {
footer > ul > li {
	display: block;

}
}




.social_media {
	font-size: 140%;

}
























