body {

	
	padding: 0;
	box-sizing: border-box;	
    font-size: 16px;
    font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}


/* HEADER */

.main_image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("catdoglove.jpg");
	height: 80vh;
	background-size: 90%;
	background-repeat: no-repeat;	
	background-attachment: fixed;		
	margin-left: 190px;
	margin-right: 190px;
/*	transform: translate(0, 15%);  */ 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	

}

 ul {
	list-style: none;	
	margin-top: 60px;
	margin-bottom: -40px;
	text-align: center;
	
}

 li {
	display: inline-block;
	letter-spacing: 0.188em;
	font-size: 105%;
	color: #009c0;
	padding-right: 8.5em;
	font-weight: 400;
}

ul:first-child {
	margin-left: 4em;
}

nav li:hover {
	opacity: 0.5;
	transition: all .2s ease;
}

h1 {
	color: white;
	line-height: 300%;
	display: inline-block;
	font-size: 5em;
	font-weight: 300;
	letter-spacing: 7px;
	margin-top: 0;
    display: none;

}

header i {
	color: black;
	margin-right: 50px;
}



.heading {
	padding: 1rem;
	line-height: 200%;	
	text-align: center;
	font-family: 'Merriweather', sans-serif;
	font-weight: 100;
	color: black;
	font-size: 2em;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;	
}

.app_features img {	
	height: 15em;
	transform: scale(1);
	transition: transform 0.5s, opacity 0.5s;	
}

.app_features img:hover {
	opacity: 1;
	transform: scale(1.05);
}

.fade i {
	color: #9db2a5;	
	margin-left: 25px;
	margin-top: 20px;
}



/* TEXT BOXES */

.

.box_1, .box_2, .box_3, .box_4, .box_5, .box_6 {
	
	height: 15em;
}







h2 {
	color: #9db2a5;
	text-align: center;
	display: block;	
	font-size: 120%;	
}

h2 span {
	font-size: 130%;
	margin-right: 10px;
}

.testimonials {
	width: 100%;
	height: 100%;
	margin: 50px auto 150px auto;
	background-color: white;
}

.test_paragraph {
	font-size: 16px;
	background-color: white;	
	border-radius: 5px;	
	text-align: center;	
	margin-left: 70px;
	box-shadow: 10px 10px 5px #888888;
}

.testimonials img {
	height: 150px;	
	display: block;
	margin: 20px auto 40px auto;	
	border-radius: 5px;  
}

#transform {
        transform: scale(1);
	transition: transform 0.5s, opacity 0.5s;
}

#transform:hover {
         opacity: 1;
	transform: scale(1.25);
}

footer {
	margin-right: -15px;
	margin-left: -15px;
	height: 13em;
	background-color: #58504A;
	color: white;

	font-size: 80%;

}

/*footer i {
	margin-left: 7em;
	text-align: center;
	margin-top: 40px;
	color: white;
}*/

#social_media li {
	color: white;
    
       
}


.contact p {
	font-size: 120%;
        margin-top: 25px;
      

}


.email {
	margin-top: 75px;
	float: left;
	
}

/*.copyright {
	float: right;
	margin-top: 75px;
           
}
*/























